# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
.env

# ChromaDB / Vectorstore
backend/vectorstore/

# Logs & Temporary files
*.log
backend/scraper/raw_html/
.pytest_cache/
.coverage
htmlcov/
